*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(253, 209, 216);
}

header{
    background: #485a27;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "br bu"
    ;
}

#first-item-in-header{
    grid-area: br;
    margin-left: 15px;
}

#listerner-left{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 100px;
    left: 25px;
    rotate: 90deg;
}

#place-for-sliding-img{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

#slide_img{
    width: 100%;
}

#listerner-right{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 25px;
    top: 100px;
    rotate: -90deg;
}

#first-section-main-page{
    width: 100%;
}

#taylor-article{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    "the the"
    "tte tim"
    ;
}

#taylor-text{
    grid-area: the;
    margin-left: 20px;
}

#tayler-p-tag{
   grid-area: tte;
   text-align: justify;
   margin-left: 20px;
}

#taylor-article img{
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    grid-area: tim;
}

.line{
    background: #485a27;
    width: 90%;
    height: 3px;
    position: relative;
    left: 10px;
    margin: 10px;
}

.disapear-line{
    background: #485a27;
    width: 90%;
    height: 3px;
    position: relative;
    left: 10px;
    margin: 10px;
}

#allergy-article{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    ". he"
    "im te"
    ;
}

#allergy-article img{
    height: 100px;
    grid-area: im;
    margin-left: 20px;
    margin-right: 20px;
}

#he{
    grid-area: he;
    text-align: end;
    margin-right: 20px;
}

#te{
    grid-area: te;
    margin-right: 20px;
    text-align: justify;
}

#second-item-in-header{
    grid-area: bu;
}

#link-list a{
    text-decoration: none;
    color: rgb(84, 118, 174);
    letter-spacing: 0.1875rem;
}

#burger div{
    width: 29px;
    height: 4px;
    background-color: cadetblue;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}
#link-list{
    background-color:#485a27;
    height: 400px;
    width: 100%;
    position: absolute;
    top: -400px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
    z-index: 2;
}

#link-list li{
    margin: 15px;
    text-align: center;
}

#burger{
    margin-right: 50px;
    cursor: pointer;
}

.link-list-visible{
    transform: translateY(480px);
}

.burger-x #line2{
    opacity: 0;
}

.burger-x #line1{
    transform: rotate(-45deg) translate(-6.5px, 6px);
}

.burger-x #line3{
    transform: rotate(45deg) translate(-6.5px, -6px);
}

.starting-section{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#italien-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.4fr 0.2fr 2fr 0.5fr;
    grid-template-areas: 
    "it it"
    "vi pi"
    "li pi"
    "pit pit"
    ;
}

#pit{
    grid-area: pit;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#pi{
    grid-area: pi;
    width: 90%;
    margin-right: 20px;
}

#it{
    grid-area: it;
    padding-bottom:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#li{
    grid-area: li;
    list-style:none;
    margin-left: 20px;
}

#vi{
    grid-area: vi;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-left: 20px;
}

#french-menu{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 0.2fr 1fr;
    grid-template-areas: 
    "fm fr"
    "ve ft"
    "fl ft"
    ;
}

#fm{
    grid-area: fm;
    width: 100%;
    margin-left: 20px;
}

#fr{
    grid-area: fr;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ve{
    grid-area: ve;
    text-decoration: underline;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 3px;
}

#ft{
    grid-area: ft;
    text-align: center;
    padding: 3px;
}

#fl{
    grid-area: fl;
    list-style: none;
    margin-left: 20px;
}

#vietnames-menu{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2fr, 2fr, 0.5fr, 0.5fr;
    grid-template-areas: 
    "hv hv hv"
    "et tv tr"
    ". wo ."
    "l1 . l2"
    ;
}

#headline-viet{
    grid-area: hv;
    text-align: center;
    margin-bottom: 5px;
}

#img1-viet{
    grid-area: et;
    height: 40%;
    justify-self: center;
}

#img2-viet{
    grid-area: tv;
    height: 40%;
    justify-self: center;
}

#img3-viet{
    grid-area: tr;
    height: 40%;
    justify-self: center;
}

#we-offer{
    grid-area: wo;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

#list1-viet{
    grid-area: l1;
    list-style: none;
    text-align: end;
}

#list2-viet{
    grid-area: l2;
    list-style: none;
    text-align: start;
}


/*
#offer-line1{

    background: #485a27;
    width: 5px;
    height: 3px;
    position: absolute;
    left: 130px ;
    bottom: -400px ;
}

#offer-line2{

    background: #485a27;
    width: 30%;
    height: 3px;
    position: absolute;
    left: -25px ;
    top: 9px ;
}
*/


.book-button{
    height: 50px;
    width: 150px;
    background-color: rgb(255, 219, 225);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: #485a27 solid;
    box-shadow: 5px 5px 5px rgba(253, 181, 193, 0.796);
    margin-left: 50px;
}

#section-office-meals{
    height: 500px;
    margin: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 0.5fr 5fr;
    grid-template-areas: 
    "mp ho"
    "pm in"
    ;
}

#meals-parent{
    grid-area: mp;
    justify-self: center;
    align-self: center;
}

#image-place{
    height: 100px;
    width: auto;
}

#contact-info{
    margin-top: 5px;
}

#copyright{
    font-size: x-small;
}

#head-office{
    grid-area: ho;
    justify-self: center;
    align-self: center;
}

#place-for-meals{
    grid-area: pm;
    
}

#pic-of-sun-rise{

    width: 10%;
    height: auto;

}

#contact-ways{
    text-decoration: none;
}

#info{
    grid-area: in;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#welcome{
    margin-top: 30px;
    text-align: center;
}

#intro-text{
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 20px;
    text-align: center;
}

#start-book{
    display: grid;
    grid-template-columns: 1.3fr 0.8fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: 
    "tok fbb"
    "bot fbb"
    ;
}

#to-book{
    grid-area: tok;
    margin-left: 20px;
    justify-self: center;
}

#booking-text{
    grid-area: bot;
    text-align: center;
    margin-left: 20px;
}

#first-book-button{
    grid-area: fbb;
    align-self: center;
    margin-right: 20px
    ;
}

#stopping-img-section{
    margin: 40px;
    background-image: url(/img/regular/stopping-img.jpg);
    height: 500px;
    padding: 40px;
    width: auto;
    background-size: cover;
    background-position: center;
}

#square-text{
    height: 190px;
    width: 100px;
    background-color: rgb(215, 214, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-radius: 2.5px;
}

#slogan{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#wedding-section{
    margin: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "wei hw"
    "wei wt"
    ;
}

#head-wed{
    grid-area: hw;
}

#wed-img{
    grid-area: wei;
    width: 175px;
}

#wed-txt{
    grid-area: wt;
}

#flex-funeral{
    display: flex;
    margin: 20px;
    height: 300px;
}

#flex-funeral p{
    margin-right: 5px;
}

#short-church{
    height: 125px;
    width: 125px;
}

#long-church{
    width: 180px;
}

#art-funeral{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#flex-dop{
    display: flex;
    margin: 20px;
    height: 325px;
}

#he-dop{
    text-align: center;
    margin-bottom: 5px;
}

#dop-2{
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#dop-2 img{
    width: 125px; 
    margin-bottom: 22px;
}

#party-section{
    margin: 20px;
}

#head-party{
    text-align: center;
}

#party-section p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#party-section img{
    width: 100%;
}

#loan-section{
    height: 500px;
    margin: 40px;
    background-image: url(/img/regular/waiters-background-img.jpg);
    width: auto;
    background-size: cover;
    background-position: center;
}

#loan-section img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
}

#loan-art-1{
    text-align: center;
    padding: 40px;
}

#loan-art-2{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

#loan-art-2 img{
    height: 120px;
}

#loan-list{
    list-style: none;
    margin-top: 10px;
    margin-right: 25px;
}

#frame{
    background-color: rgb(243, 231, 179);
    height: 130px;
    width: 144px;
    padding: 5px;
}

#flex-waiters{
    margin: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#flex-waiters img{
    height: 220px;
    width: auto;
}

#wine-img{
    background-image: url(/img/regular/wine-img.jpg);
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 3px;
}

#margin-under{
    margin-top: 15px;
    margin-bottom: 15px;
}

.venue{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    background-size: cover;
    background-position: center;
    justify-items: center;
    text-align: center;
}

.text-button{
    display: flex;
    margin-top: 10px;
}

.book-button-venue{
    height: 50px;
    width: 170px;
    background-color: rgb(255, 219, 225);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #485a27 solid;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(253, 181, 193, 0.796);
}

#text-venue1{
    background-image: url(/img/regular/venue1.jpg);
}

.collection{
    height: 450px;    
    padding: 40px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headline-venue{
    background-color: rgba(253, 209, 216, 0.8);
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-venue2{
    background-image: url(/img/regular/venue2.jpg);
}

#text-venue3{
    background-image: url(/img/regular/venue3.jpg);
}

#text-venue4{
    background-image: url(/img/regular/venue4.jpg);
}

#text-venue5{
    background-image: url(/img/regular/venue5.jpg);
}

#text-venue6{
    background-image: url(/img/regular/venue6.jpg);
}

.footer{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 20px;
}

.footer-items{
    margin-top: 15px;
    margin-bottom: 15px;
}

.underline{
    text-decoration: underline;
}

#logo{
    width: 50px; 
    grid-area: lfg;
}

#footer-grid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "hfg lfg"
    "tfg lfg"
    ;
}

#tfg{
    grid-area: tfg;
}

#hfg{
    grid-area: hfg;
}

#mexican-section{
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

#inner-mexican-section{
    display: flex;
    margin: 20px;
}

#inner-inner-mexican{
    margin-right: 45px;
    white-space: nowrap;
}

#mexican-list{
    margin-top: 10px;
    list-style: none;

}

@media screen and (min-width:600px){ 

    #main-page-media{
        display: grid;
        margin: 40px;
        height: 450px;
        grid-template-columns: 40% 30% 40%;
        grid-template-rows: 50% 40% 10%;
        grid-template-areas: 
        "pfsi mpc sis"
        "pfsi stb sis"
        "pfsi fbbi sis"
        ;
    }

    /* HELP IT DOESNT GIVE SIS THE GRID AREA*/
    #stopping-img-section{
        grid-area: sis; 
        background-color: aqua;
    }

    #main-page-cover{
        grid-area: mpc;
    }

    #place-for-sliding-img{
        grid-area: pfsi;
    }

    #first-book-button{
        grid-area: fbbi;
    }

    #start-book{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    #start-book{
        grid-area: stb;
    }

    #slide_img{
        height: 350px;
        width: auto;
    }

    #listerner-right{
        height: 25px;
        width: 25px;
        left: 475px;
        top: 160px;
    }

    #listerner-left{
        height: 25px;
        width: 25px;
        top: 160px;
    }

    #pic-of-sun-rise{

        width: 100px;
        height: 100px;
    
    }

    .line{
        background: #485a27;
        height: 3px;
        width: 95%;
        position: relative;
        left: 20px;
        right: 20px;
        margin: 20px;
    }

    #first-section-main-page{
        display: flex;
    }

    .footer{
        display: grid;
        height: 500px;
        text-align: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "af1 af2"
        "af3 fg"
        ;
    }

    #art-foot1{
        grid-area: af1;
        background-color: antiquewhite;
    }

    #art-foot2{
        background-color: blue;
        grid-area: af2;
    }

    #art-foot3{
        grid-area: af3;
        background-color: blueviolet;
    }

    #footer-grid{
        grid-area: fg;
        background-color: aquamarine;
    }

    #pair1{
        display: flex;
    }

    #pair2{
        display: flex;
    }

    #disapear-line{
        width: 0;
    }

    .venue{
        margin-right: 60px;
        margin-left: 60px;
    }

    #items-premis{
        display: flex;
        flex-direction: column;
    }

}
