*{
    margin: 0%;
    padding: 0%;
}



header{
    background: red;
    height: 80px;
}

#listerner-left{
    height: 20px;
    width: 20px;
    position: relative;
    top:-145px;
    left: 25px;
    rotate: 90deg;

}

#listerner-right{
    height: 20px;
    width: 20px;
    position: relative;
    top:-145px;
    left: 325px;
    rotate: -90deg;
}